<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User creation</title>
</head>
<body>
<h1>User creation</h1>
        <form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
        <label for="name">Enter name: </label>
            <input type="text"
                   th:field="*{username}"
                   id="name"
                   th:value="${user.username}"
            />
            <label for="password">Enter password: </label>
            <input type="text"
                   th:field="*{password}"
                   id="password"
                   th:value="${user.password}"
            />

            <label for="roles">Enter roles(1-user, 2-admin): </label>
            <input type="text"
                   th:field="*{roles}"
                   id="roles"
                   th:value="${user.roles}"
            />

    <br/>
    <input type="submit" value="Save"/>
    </form>
</body>
</html>
