<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User </title>
</head>
<body>
<h1>User</h1>
<div th:user="${user}">
    <p>Id: <span th:text="${user.getId()}"></span></p>
    <p>Username: <span th:text="${user.getUsername()}"></span></p>
    <p>Password: <span th:text="${user.getPassword()}"></span></p>
    <p>Roles:
    <ul th:each="role :${user.getRoles()}">
        <li th:text="${role.getName()}"></li>
    </ul>
    </p>
</div>
</body>
</html>
